[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
Django = "*"
django-celery = "*"
django-bootstrap3 = "==9.1.0"
django-jquery = "==3.1.0"
django-jquery-ui = "==1.11.4.1"
django-environ = "*"
python-memcached = "*"
python-dateutil = "*"
pymongo = "==3.6.0"
mod-wsgi = "*"
requests = "*"
gunicorn= "*"
numpy= "*"
certifi = "*"
dateutils = "*"
urllib3 = "*"

[requires]
python_version = "3.7"
